<div class="container ai-footer-inner">
    <div class="copyright text-center ">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Ali Mehdi</strong> <span>All Rights Reserved<br></span></p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener"><i class="bi bi-twitter-x"></i></a>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener"><i class="bi bi-github"></i></a>
      <a href="mailto:{{ site.email }}"><i class="bi bi-envelope"></i></a>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>