<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  {% include head.html %}
</head>

<body class="ai-theme index-page">

  {% include header.html %}

  <main class="main section">
    <div class="container blog-container aos-init aos-animate" data-aos="fade-up">
      {{ content }}
    </div>
  </main>

  <footer id="footer" class="footer ai-footer dark-background">
    {% include footer.html %}
  </footer>

  {% include site-scripts.html %}

</body>

</html>